body {
  max-width: 600px;
  margin: 0 auto;
}

.container {
  padding: 0 15px 0;
}

.image-profile {
  width: 96px;
  height: 96px;
  margin: auto;
  object-fit: cover;
  object-position: center;
  background-size: cover !important;
}

.fs-7 {
  font-size: 0.875rem;
}
.w-24{
  width: 24px;
}
.btn-larger {
  --bs-btn-font-size: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.col-text-bio *{
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}